*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	opacity: 1;
	left: -200px;

}
#sidebar.active{
	left: 0px;
}
#sidebar ul li {
	color:rgba(230,230,230,0.9);
	list-style: none;
	padding: 35px 30px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	margin-top:15px;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top:20px;
}

#sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background: #151719;
	margin: 5px 0px;
}
nav .img{
	margin-left:0px;
}
#sider li hover:{
	color: red;
}